<div class="large-12 columns">
    <div class="row large-6 columns">
        <h3>Name</h3>
        <p><%= problem.name %></p>
    </div>
    <div class="row large-6 columns">
        <h3>Description</h3>
        <p><%= problem.description %></p>
    </div>
    <div class="row large-12 columns">
        <h6><%= display_number_of_solutions(problem) %></h6>
    </div>
</div>
